/* Cutydina Icons Library v1.0 
To use: <i class="cd cd-nombre"></i>
*/


.cd {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background-color: currentColor; 
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    line-height: 1;
}

/* MY ICONS */
.cd-arrowleft { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-arrowleft'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-arrowleft'); }
.cd-buymeacofee { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-buymeacofee'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-buymeacofee'); }
.cd-calendar { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-calendar'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-calendar'); }
.cd-copyright { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-copyright'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-copyright'); }
.cd-danger { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-danger'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-danger'); }
.cd-gift { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-gift'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-gift'); }
.cd-heart { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-heart'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-heart'); }
.cd-heartsmile { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-heartsmile'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-heartsmile'); }
.cd-search { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-search'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#icon-search'); }

/* MY SOCIAL NETWORK ICONS */
.cd-amazon { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-amazon'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-amazon'); }
.cd-bluesky { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-bluesky'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-bluesky'); }
.cd-cara { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-cara'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-cara'); }
.cd-codepen { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-codepen'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-codepen'); }
.cd-discord { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-discord'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-discord'); }
.cd-email { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-email'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-email'); }
.cd-github { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-github'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-github'); }
.cd-googleplay { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-googleplay'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-googleplay'); }
.cd-linkedin { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-linkedin'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-linkedin'); }
.cd-patreon { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-patreon'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-patreon'); }
.cd-paypal { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-paypal'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-paypal'); }
.cd-pinterest { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-pinterest'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-pinterest'); }
.cd-reddit { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-reddit'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-reddit'); }
.cd-telegram { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-telegram'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-telegram'); }
.cd-tiktok { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-tiktok'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-tiktok'); }
.cd-vgen { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-vgen'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-vgen'); }
.cd-webtoon { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-webtoon'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-webtoon'); }
.cd-youtube { -webkit-mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-youtube'); mask-image: url('https://cutydina.github.io/cutydina-icons/sprites.svg#social-youtube'); }
